<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443156738328-vruo1r03aqqvujm747m4ampc0mdq7bmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443156738328-vruo1r03aqqvujm747m4ampc0mdq7bmp</string>
	<key>API_KEY</key>
	<string>AIzaSyCON8M7jsa9UJsn8-9tR0CItKHO8rGdhyA</string>
	<key>GCM_SENDER_ID</key>
	<string>443156738328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tradelog.journal</string>
	<key>PROJECT_ID</key>
	<string>tradelog-9be46</string>
	<key>STORAGE_BUCKET</key>
	<string>tradelog-9be46.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443156738328:ios:f529ad735ebb2a9bb02e6d</string>
</dict>
</plist>